<div class="card">
    <h3 class="card-header">Add a comment</h3>
    <form method="post" class="card-body new-post-form" id="newComment">

        <label class="form-label" for="content">Content</label>
        <input id="content" name="content" class="form-input" />

        <button type="submit" class="btn">Submit</button>
    </form>
</div>
<div>
    <div>
        <p>
            {{ post.title }} Posted by {{ post.user.username }} created on {{ format_date created_at }}
        </p>
        <p>
            {{ post.content }}
        </p>
    </div>
    <div>
        {{#if comments.length}}
        {{#each comments as |comment|}}
        {{> comment-details}}
        {{/each}}
        {{else}}
        <p>Be the first to comment and give some love.</p>
        {{/if}}
    </div>
</div>

<script src="../js/addComment.js"></script>