<div class="card">
    <div class="card-header">
       <h4>{{post.title}}</h4>
        <p>Posted by {{post.user.username}} on {{format_date post.created_at}}</p>
    </div>
        <p class="card-body">{{post.content}}</p>
    <div>
        {{#if logged_in}}
        <a href="/dashboard/newComment/{{post.id}}"><button>Add a Comment</button></a>
        {{/if}}
        {{#if comments.length}}
        {{#each comments as |comment|}}
        {{> comments}}
        {{/each}}
        {{else}}
        <p>Give some love! Be the first to comment!</p>
        {{/if}}
    </div>

</div>



